/* body{
    background-color: #002b36 !important;
    color: #eee8d5 !important;
}

div[id="top_nav"]{
    background-color: #002b36 !important;
}

h3 {
    color: #eee8d5 !important;
}
h2 {
    color: #eee8d5 !important;
}
h1 {
    color: #657b83 !important;
}
cite{
    color: #268bd2 !important;
}
span{
    color: #eee8d5 !important;
    background-color: #002b36 !important;
}

a   {
    color: #93a1a1 !important;
}

#appbar    {
    background-color: #002b36 !important;
}


input   {
    color: #eee8d5 !important;
    background-color: #073642 !important;
} */
